@import url("globals.css");

#button_nav2 {
  background: none;
  border: none;
  padding: 0; /* Evita espacios extra */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Hace que se vea como un botón */
}

#button_nav2 svg {
  width: 50px;
  height: 50px;
  fill: var(--text-button);
}

.burger {
  position: relative;
  padding: 13px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.tecnologies h2 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3rem;
  color: var(--text-color);
  font-weight: bold;
}

.about_I h2 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3rem;
  color: var(--text-color);
  font-weight: bold;
}

.about_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 80px);
  width: 100%;
  padding: 0 10%;
}

.text_content {
  flex: 1;
  color: var(--text-color);
}

.text_content h2 {
  font-size: 2rem;
}

.image_content {
  width: 500px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.image {
  width: 100%;
  height: auto;
}

.img-content img {
  border-radius: 200px;
  width: 300px;
  border: 5px solid var(--color-primario);
  border-radius: 50%;
  overflow: hidden;
}

.main_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_info p {
  font-size: 20px;
  margin-top: 20px;
}

.images_redes {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  display: inline-block;
  gap: 15px;
  margin-top: 35px;
}

.logo {
  width: 200px;
}

.sto {
  margin-right: 40px;
}

.about_I {
  max-width: 800px; /* ajustá este valor al ancho de la barra de tecnologías */
  margin: 0 auto; /* centra el bloque en la página */
  text-align: justify; /* opcional: justifica el texto para que se vea prolijo */
  padding: 20px;
}

.about_I h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about_I .text-container {
  max-width: 1600px;
  overflow: hidden;
  text-align: justify;
  padding: 5px;
}

.about_I .text-container p {
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px;
  margin: 0;
  line-height: 1.5;
  padding: 0 35px;
}

.images_redes svg,
.images_redes img {
  width: 50px;
  height: 50px;
  transition: 0.2s ease;
}

.images_redes svg:hover,
.images_redes img:hover {
  filter: brightness(2);
  fill: #ff5733;
}

.images_redes {
  display: flex;
  gap: 20px;
  position: relative;
}

.redes {
  position: relative;
  display: inline-block;
  color: var(--color-primario);
}

.redes::after {
  content: attr(data-text);
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-primario);
  color: var(--text-button);
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.redes:hover::after {
  opacity: 1;
}

.about_and_tecnologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tecnologies {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tecnologies h2 {
  margin-bottom: 5px;
}

.container_tecnologies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 20px;
  background-color: var(--container-tecnologies);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  color: white;
  box-shadow: 1px 1px 10px 3px rgb(92, 92, 92);
  border-radius: 10px;
}

.container_tecnologies img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.container_tecnologies img:hover {
  transform: scale(1.6);
}

.logo-item {
  position: relative;
  display: inline-block;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: var(--tooltip);
  color: var(--tooltip-text);
  padding: 5px 10px;
  border-radius: 5px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
}

.logo-item:hover .tooltip {
  display: block;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.projects-container h2 {
  text-align: center;
  font-size: 45px;
  color: var(--text-color);
  margin-bottom: 45px;
}

.projects-container {
  padding: 40px;
}

.grid-container {
  display: grid;
  border: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  overflow: visible;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  max-width: 400px;
  box-shadow: 1px 1px 10px 2px var(--grid-shadow);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.grid-item img {
  width: 370px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  margin-bottom: 35px;
}

.grid-item p {
  margin-top: 10px;
  z-index: 1;
  position: relative;
}

.logos {
  width: 150px;
  height: auto;
  display: block;
  margin-bottom: 100px;
}

.logo-container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 0px;
}

.tecnologies-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tecnologies_uses {
  padding: 1px;
  text-align: center;
}

.info_dashboard1 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 21px !important;
  margin-top: 10px;
  color: var(--text-color);
}

.info_dashboard2 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px !important;
  margin-top: 10px;
  color: var(--text-color);
}

.info_dashboard3 {
  font-family: "DM Sans", serif;
  font-size: 25px !important;
  margin-top: 10px;
  color: var(--text-color);
}

.info_dashboard4 {
  font-family: "DM Sans", serif;
  font-size: 20px !important;
  margin-top: 10px;
  color: var(--text-color);
}

.info_dashboard5 {
  font-family: "DM Sans", serif;
  font-size: 21px !important;
  margin-top: 10px;
  color: var(--text-color);
}

.info_dashboard6 {
  font-family: "DM Sans", serif;
  font-size: 20px !important;
  margin-top: 10px;
  color: var(--text-color);
}

.info_dashboard7 {
  font-family: "DM Sans", serif;
  font-size: 24px !important;
  margin-top: 10px;
  color: var(--text-color);
}

.info_dashboard8 {
  font-family: "DM Sans", serif;
  font-size: 24px !important;
  margin-top: 10px;
  color: var(--text-color);
}

.info_dashboard9 {
  font-family: "DM Sans", serif;
  font-size: 21px !important;
  margin-top: 10px;
  margin-right: 0px;
  color: var(--text-color);
}

.tecnologies_uses p {
  margin: 5px 0;
  font-size: 1rem;
}
.dashboard-container {
  position: relative;
  width: 100%;
  height: auto;
}

.dashboard-image {
  display: block;
  width: 100%;
  height: auto;
}

.projects-container {
  position: relative;
}

.media-container {
  position: relative;
  height: 1407px;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}

.media-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.media-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  z-index: 10;
  pointer-events: auto;
}

.media-container:hover video {
  opacity: 1;
}

.media-container:hover img {
  opacity: 0;
}

.video_grid {
  cursor: pointer;
}

.media-container a {
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.python {
  position: relative;
  top: 5px;
  border: 2px solid rgb(0, 38, 255);
  background-color: rgb(123, 130, 190);
  color: var(--text-color2);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.pandas {
  position: relative;
  top: 5px;
  border: 2px solid rgb(0, 153, 255);
  background-color: rgb(115, 168, 209);
  color: var(--text-color2);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.matplotlib {
  position: relative;
  top: 5px;
  border: 2px solid rgb(0, 255, 255);
  background-color: rgb(121, 180, 174);
  color: var(--text-color2);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.powerBI {
  position: relative;
  top: 5px;
  border: 2px solid rgb(255, 238, 0);
  background-color: rgba(214, 200, 0, 0.613);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.powerBI p {
  color: var(--text-color2);
}

.info_python {
  margin-top: 15px;
}

.SQL {
  position: relative;
  top: 5px;
  border: 2px solid rgb(255, 94, 1);
  background-color: rgba(188, 70, 2, 0.526);
  color: var(--text-color2);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.Access {
  position: relative;
  top: 5px;
  border: 2px solid rgb(255, 0, 0);
  background-color: rgb(206, 111, 119);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.DAX {
  position: relative;
  top: 5px;
  border: 2px solid rgb(255, 242, 1);
  background-color: rgb(168, 160, 157);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.basedatos {
  position: relative;
  top: 5px;
  border: 2px solid rgb(0, 51, 255);
  background-color: rgba(69, 84, 153, 0.526);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.looker_studio {
  position: relative;
  top: 5px;
  border: 2px solid rgb(0, 153, 255);
  background-color: rgba(0, 153, 255, 0.349);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.gsheets {
  position: relative;
  top: 5px;
  border: 2px solid rgb(27, 161, 38);
  background-color: rgba(27, 161, 38, 0.356);
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: var(--text-color);
}

.info {
  text-align: justify;
  color: var(--text-color);
  top: 5px;
}

.buttons-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  justify-content: center; /* Centra los botones dentro del contenedor */
  margin-top: 20px;
}

.ir_web,
.ver_informe {
  width: auto; /* Ajusta automáticamente el tamaño según el contenido */
  background-color: var(--color-primario);
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 14px; /* Tamaño de fuente ajustable */
}

.ver_mas:hover {
  background-color: rgb(81, 59, 134);
  color: var(--text-button);
}

#contact {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
}

#contact h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
}

#contact-form input,
#contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

#contact-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#contact-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
    height: auto;
  }

  .menu-item {
    display: block;
    padding: 10px 0;
  }

  .nav {
    display: none;
  }

  .nav_mobile {
    display: flex;
  }

  .nav_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }

  .nav_list_mobile {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: var(--nav-color);
    transition: right 1s;
  }

  .nav_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
  }

  .nav_list_mobile.visible {
    right: 0;
    background-color: var(--nav-color);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .nav_list a {
    font-size: 1rem;
    color: var(--text-color);
  }

  .mode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 53px;
    background-color: var(--mode-button);
    border-radius: 5px;
  }

  .cv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-button);
    font-size: 15px;
    background-color: var(--color-primario);
    height: 36px;
    width: 130px;
    border-radius: 15px;
    padding: 0vh 0vw;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    box-shadow: 3px 1px 5px rgb(17, 17, 17);
    padding: 0px 2em;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
  }

  .about_I {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
  }

  .about_I .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 10px;
    overflow: hidden;
    text-align: justify;
    padding: 10px;
  }

  .about_I .text-container p {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
    width: 100%;
    padding: 0px;
  }

  .tecnologies h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    color: var(--text-color);
    font-weight: bold;
  }

  .about_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 20px;
  }

  .text_content {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .image_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 80%;
  }

  .tecnologies {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_tecnologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0 2em;
  }

  .container_tecnologies img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  .projects-container {
    margin-top: 30px;
  }

  .tecnologies {
    margin-top: 50px;
  }

  .images_redes svg,
  .images_redes img {
    width: 40px;
    height: 40px;
    transition: 0.2s ease;
  }

  .info_dashboard1 {
    font-family: "DM Sans", serif;
    font-size: 19px !important;
    margin-top: 10px;
    margin-right: 0px;
    color: var(--text-color);
  }

  .info_dashboard2 {
    font-family: "DM Sans", serif;
    font-size: 20px !important;
    margin-top: 10px;
    margin-right: 0px;
    color: var(--text-color);
  }

  .info_dashboard3 {
    font-family: "DM Sans", serif;
    font-size: 20px !important;
    margin-top: 10px;
    margin-right: 0px;
    color: var(--text-color);
  }

  .info_dashboard4 {
    font-family: "DM Sans", serif;
    font-size: 10px !important;
    margin-top: 10px;
    margin-right: 0px;
    color: var(--text-color);
  }

  .info_dashboard5 {
    font-family: "DM Sans", serif;
    font-size: 19px !important;
    margin-top: 10px;
    margin-right: 0px;
    color: var(--text-color);
  }

  .info_dashboard6 {
    font-family: "DM Sans", serif;
    font-size: 15px !important;
    margin-top: 10px;
    margin-right: 0px;
    color: var(--text-color);
  }

  .info_dashboard7 {
    font-family: "DM Sans", serif;
    font-size: 20px !important;
    margin-top: 10px;
    margin-right: 0px;
    color: var(--text-color);
  }

  .info_dashboard8 {
    font-family: "DM Sans", serif;
    font-size: 20px !important;
    margin-right: 0px;
    color: var(--text-color);
  }

  .info_dashboard9 {
    font-family: "DM Sans", serif;
    font-size: 25px !important;
    margin-top: 10px;
    margin-right: 0px;
    color: var(--text-color);
  }
}

@media (min-width: 481px) and (max-width: 760px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
    height: auto;
  }

  .menu-item {
    display: block;
    padding: 10px 0;
  }

  .nav {
    display: none;
  }

  .nav_mobile {
    display: flex;
  }

  .nav_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }

  .nav_list_mobile {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: var(--nav-color);
    transition: right 1s;
  }

  .nav_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
  }

  .nav_list_mobile.visible {
    right: 0;
    background-color: var(--nav-color);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .nav_list a {
    font-size: 1rem;
    color: var(--text-color);
  }

  .mode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 53px;
    background-color: var(--mode-button);
    border-radius: 5px;
  }

  .cv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-button);
    font-size: 15px;
    background-color: var(--color-primario);
    height: 36px;
    width: 130px;
    border-radius: 15px;
    padding: 0vh 0vw;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    box-shadow: 3px 1px 5px rgb(17, 17, 17);
    padding: 0px 2em;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
  }

  .about_I {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about_I .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 10px;
    overflow: hidden;
    text-align: justify;
    padding: 10px;
  }

  .about_I .text-container p {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
    width: 100%;
    padding: 0px;
  }

  .tecnologies h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    color: var(--text-color);
    font-weight: bold;
  }

  .about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
  }

  .text_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .image_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    width: 80%;
  }

  .tecnologies {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_tecnologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0 2em;
  }

  .container_tecnologies img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  .projects-container {
    margin-top: 30px;
  }

  .tecnologies {
    margin-top: 50px;
  }

  .images_redes svg,
  .images_redes img {
    width: 40px;
    height: 40px;
    transition: 0.2s ease;
  }

  .info_python {
    font-family: "Montserrat", sans-serif !important;
    font-size: 21px !important;
    margin-top: 10px;
    color: var(--text-color);
  }

  @media (min-width: 761px) and (max-width: 1080px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .nav {
      display: none;
    }

    .nav_mobile {
      display: flex;
    }

    .nav_list_mobile {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 50%;
      background-color: var(--nav-color);
      transition: right 1s;
    }

    .nav_container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5em;
    }

    .nav_list_mobile.visible {
      right: 0;
      background-color: var(--nav-color);
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    nav ul {
      flex-direction: column;
      align-items: center;
    }

    .images_redes svg,
    .images_redes img {
      width: 40px;
      height: 40px;
      transition: 0.2s ease;
    }
  }
}
